:root {
  --projectCabBackground: rgb(0, 0, 0);
  --projectCabBackground2: rgb(0, 0, 0);
  --projectCabTextBackground: rgb(0, 0, 0);
  --projectCabTitleBar: rgb(0, 0, 0);
  --projectCabFauxTitleBar: rgb(0, 0, 0);
  --projectCabHover: var(--accent-focused);
}

:root {
  --bordersH: rgb(168, 0, 32); 
  --accent: rgb(220, 0, 60);
  --accent-hover: rgb(255, 0, 80, 0.977);
  --accent-selected: rgb(49, 49, 49);
  --accent-focused: rgb(49, 49, 49);
  --accent-titles: rgba(198, 168, 55, 1);
  --borders: rgb(84, 0, 16) 1px solid;
  --background-mentioned: rgb(32, 0, 8);    /* message with mention background */
  --info-warning-foreground: var(--accent-hover); /* brighter bar on left of mention messages */
}
